services:
  backend:
    build:
      context: ./backend/api
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    container_name: berlinclock-backend
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    container_name: berlinclock-frontend
    restart: unless-stopped
