services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8500:8080"
    container_name: berlinclock-backend
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "8600:80"
    container_name: berlinclock-frontend
    restart: unless-stopped
