on: workflow_call
jobs:
  docker_build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with: { registry: ghcr.io, username: '${{ github.actor }}', password: '${{ secrets.GHCR_PAT }}' }
      - run: docker build -t ghcr.io/jonas59075/berlinclock-backend:latest backend && docker push ghcr.io/jonas59075/berlinclock-backend:latest
      - run: docker build -t ghcr.io/jonas59075/berlinclock-frontend:latest frontend && docker push ghcr.io/jonas59075/berlinclock-frontend:latest
