on:
  workflow_call:
    secrets:
      GHCR_PAT:
        required: true

jobs:
  docker_build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}
      - name: Build Backend Image
        run: |
          docker build backend -t ghcr.io/jonas59075/berlinclock-backend:latest
          docker push ghcr.io/jonas59075/berlinclock-backend:latest
      - name: Build Frontend Image
        run: |
          docker build frontend -t ghcr.io/jonas59075/berlinclock-frontend:latest
          docker push ghcr.io/jonas59075/berlinclock-frontend:latest
