on: workflow_call
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with: { go-version: '1.22' }
      - run: cd backend && go build -o berlinclock-api
      - uses: actions/setup-node@v4
        with: { node-version: '20' }
      - run: cd frontend && npm install && npm run build
