name: Build & Test
on:
  push:
    branches: [ "main" ]
  pull_request:
jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.22"
      - name: Backend Build
        run: cd backend && go build -o berlinclock-api
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: Frontend Build
        run: cd frontend && npm install && npm run build
      - uses: actions/upload-artifact@v4
        with:
          name: berlinclock-artifacts
          path: |
            backend/berlinclock-api
            frontend/dist/
