name: Build BerlinClock

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}
      - name: Build backend
        run: docker build -t ghcr.io/jonas59075/berlinclock-backend:latest backend
      - name: Push backend
        run: docker push ghcr.io/jonas59075/berlinclock-backend:latest
      - name: Build frontend
        run: docker build -t ghcr.io/jonas59075/berlinclock-frontend:latest frontend
      - name: Push frontend
        run: docker push ghcr.io/jonas59075/berlinclock-frontend:latest
