name: Deploy BerlinClock

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    needs: build
    runs-on:
      - self-hosted
      - Windows
      - X64

    steps:
      - name: Login to GHCR
        run: echo ${{ secrets.GHCR_PAT }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin
      - name: Pull images
        run: docker compose -f "C:\\docker\\berlinclock\\docker-compose.yml" pull
      - name: Restart services
        run: docker compose -f "C:\\docker\\berlinclock\\docker-compose.yml" up -d
      - name: Cleanup
        run: docker image prune -f
