name: Deploy BerlinClock

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on:
      - self-hosted
      - Windows
      - X64

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GHCR
        run: echo ${{ secrets.GHCR_PAT }} | docker login ghcr.io -u jonas59075 --password-stdin


      - name: Navigate to deployment directory
        run: cd "C:\docker\berlinclock"

      - name: Pull latest containers
        run: docker compose -f "C:\docker\berlinclock\docker-compose.yml" pull

      - name: Restart services
        run: docker compose -f "C:\docker\berlinclock\docker-compose.yml" up -d

      - name: Clean up old images
        run: docker image prune -f
