on:
  workflow_call:

jobs:
  deploy:
    runs-on: [self-hosted, Windows, X64]
    defaults:
      run:
        shell: powershell
    steps:
      - name: Login GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}
      - name: Navigate
        run: Set-Location "C:\docker\berlinclock"
      - name: Pull New Images
        run: docker compose pull
      - name: Restart Services
        run: docker compose up -d
